html{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    text-align: center;
    background: linear-gradient(rgba(0, 0, 139, 0.722), rgba(31, 205, 147, 0.459));
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

/* unvisited link */
a:link {
    color: white;
  }
  
/* visited link */
a:visited {
    color: white;
}

a:hover {
    color: rgba(0, 0, 139, 0.722);
}

button {
    border-radius: 4px;
    background-color: rgba(0, 0, 139, 0.722);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 3cm;
    height: 2cm;
    font-size: 7pt;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
  }
  
button:hover span:after {
    opacity: 1;
    right: 0;
  }

#myimg{
    width: 90%;
    height: 90%;
    margin-top: 4%;
}

#myiframe{
    width: 90%;
    height: 90%;
    text-align: center;
}

#small{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    text-align: justify;
    text-justify: inter-word;
}

#box {
    width: 90%;
    height: 90%;
    min-height: 125px;
    padding: 5px;
    border: 3px solid black;
    margin: 0;
    border-radius: 5px;;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column2 {
    float: left;
    width: 33%;
    margin-top: 1%;
  }
.row2:after {
    content: "";
    display: table;
    clear: both;
}


